<!DOCTYPE html>
<html>
<head>
<title>Add Paragraph</title>
</head>

<body>

<h2>Add Paragraph</h2>

<form method="POST">

<label>Language</label>
<br>
<select name="lang" required>
<option value="ENGLISH">English</option>
<option value="HINDI">Hindi</option>
</select>

<br><br>

<label>Mode</label>
<br>
<select name="mode" required>
<option value="word">Word Based</option>
<option value="stroke">Stroke Based</option>
</select>

<br><br>

<label>Paragraph</label>
<br>
<textarea name="content" rows="10" cols="80" required></textarea>

<br><br>

<button type="submit">Add Paragraph</button>

</form>

</body>
</html>