<!DOCTYPE html>
<html>

<head>

<title>Hindi Typing Instructions</title>

<style>

body{
font-family:Arial;
text-align:center;
margin-top:40px;
}

#box{
width:600px;
margin:auto;
border:2px solid #444;
padding:20px;
background:#f5f5f5;
}

button{
padding:10px 20px;
font-size:16px;
margin-top:20px;
}

/* 🔥 checkbox spacing */
.agree{
margin-top:20px;
text-align:left;
}

</style>

</head>

<body>

<div id="box">

<h2>Hindi Typing Instructions</h2>

<ul style="text-align:left">

<li>Now Hindi typing test will start</li>
<li>Passing Criteria will be 25WPM and Accuracy 95%</li>
<li>Leave blank if you don't want to type Hindi</li>
<li>Timer will auto submit the test</li>
<li>Before starting, Change the keyboard layout by pressing Ctrl+Shift for Hindi test</li>

</ul>

<form method="POST" onsubmit="return checkAgree()">

<div class="agree">
<input type="checkbox" id="agree">
I have read all instructions and I am ready to start Hindi typing test and  I have changed it to  Hindi - Mangal Inscript Keyboard
</div>

<button type="submit" id="startBtn" disabled>Start Hindi Test</button>

</form>

</div>

<script>

const checkbox = document.getElementById("agree");
const btn = document.getElementById("startBtn");

let allowStart = false;

// start में disable
checkbox.disabled = true;
btn.disabled = true;

// 5 sec delay
setTimeout(() => {
    checkbox.disabled = false;
    allowStart = true;
}, 120000);

// checkbox change
checkbox.addEventListener("change", function(){

    if(allowStart && this.checked){
        btn.disabled = false;
    }else{
        btn.disabled = true;
    }

});

// final check
function checkAgree(){
    if(!allowStart){
        alert("Please wait 5 seconds before starting");
        return false;
    }

    if(!checkbox.checked){
        alert("Please confirm instructions");
        return false;
    }

    return true;
}

</script>

</body>
</html>