<h3>Select Date</h3>

<form method="POST">

<input type="date" name="date" value="{{date}}">

<button type="submit">Show Result</button>

</form>

<br>

<h2>Hindi Leaderboard</h2>

<table border="1">

<tr>
<th>Rank</th>
<th>Reg</th>
<th>Speed</th>
<th>Accuracy</th>
<th>Status</th>
</tr>

{% for r in res %}

<tr>

<td>{{loop.index}}</td>

<td>{{r[0]}}</td>

<td>{{"%.2f"|format(r[1] or 0)}}</td>

<td>{{"%.2f"|format(r[2] or 0)}}%</td>

<td>
{% if r[1] >= 30 and r[2] >= 95 %}
<span style="color:green;font-weight:bold;">PASS</span>
{% else %}
<span style="color:red;font-weight:bold;">FAIL</span>
{% endif %}
</td>

</tr>

{% endfor %}

</table>